{#
/**
 * @file
 * Default theme implementation for a summary of a webform email handler.
 *
 * Available variables:
 * - settings: The current configuration for this email handler.
 * - handler: The email handler.
 *
 * @ingroup themeable
 */
#}

{% if settings.debug %}<b class="color-error">{{ 'Debugging is enabled'|t }}</b><br />{% endif %}
<b>{{ 'To:'|t }}</b> {{ settings.to_mail|replace({',': ', '}) }}<br />
{% if settings.cc_mail %}<b>{{ 'CC:'|t }}</b> {{ settings.cc_mail|replace({',': ', '}) }}<br />{% endif %}
{% if settings.bcc_mail %}<b>{{ 'BCC:'|t }}</b> {{ settings.bcc_mail|replace({',': ', '}) }}<br />{% endif %}
<b>{{ 'From:'|t }}</b> {% if settings.from_name %}{{ settings.from_name }}{% endif %} &lt;{{ settings.from_mail }}&gt;<br />
{% if settings.reply_to %}<b>{{ 'Reply to:'|t }}</b> {{ settings.reply_to }}<br />{% endif %}
<b>{{ 'Subject:'|t }}</b> {{ settings.subject }}<br />
{% if settings.schedule %}<b>{{ 'Schedule:'|t }}</b> {{ settings.schedule }} {% endif %}<br />
{% if settings.last_sent %}<b>{{ 'Last Sent:'|t }}</b> {{ settings.last_sent }} {% endif %}<br />
{% if settings.attach_csv %}<b>{{ 'Attach CSV:'|t }}</b> {{ 'Yes'|t }} {% endif %}
